<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shanna Balfour</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/d66acc40f7.js" crossorigin="anonymous"></script>

    
</head>




<body>

    <!--    <script>
    // Get the container element
    var btnContainer = document.getElementById("plz");

    // Get all buttons with class="btn" inside the container
    var btns = btnContainer.getElementsByClassName("nav-item");

    // Loop through the buttons and add the active class to the current/clicked button
    for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function () {
    var current = document.getElementsByClassName("active");

    // If there's no active class
    if (current.length > 0) {
    current[0].className = current[0].className.replace(" active", "");
    }

    // Add the active class to the current/clicked button
    this.className += " active";
    });
    }
    </script>-->
 
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3" style="background-color: rgb(219, 219, 250)">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"style="color:black"><b>Shanna Balfour</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav flex-grow-1 justify-content-sm-end">                <!-- Uses bootstrap flex to left align the navbar-->

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index" style = "font-weight:600; color: rgb(102, 91, 194)">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Background" style="font-weight:600; color: rgb(102, 91, 194)">Background</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Projects" style="font-weight:600; color: rgb(102, 91, 194)">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Contact" style="font-weight:600; color: rgb(102, 91, 194)">Contact Me</a>
                        </li>
                    </ul>


                </div>
            </div>

          
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

 


    <footer class="border-top footer text-muted" style="background-color: rgb(219, 219, 250)">

       <div class="d-flex flex-sm-row align-items-center">

            <div class="container" style="color:black">
                &copy; 2023 - Shanna Balfour - <a asp-area="" asp-page="/Index" style="color:rgb(102,91,194)"> Home</a> - <a asp-area="" asp-page="/Background" style="color:rgb(102,91,194)">Background</a> - <a asp-area="" asp-page="/Projects" style="color:rgb(102,91,194)">Projects</a> - <a asp-area="" asp-page="/Contact" style="color:rgb(102,91,194)">Contact Me</a>
            </div> 

            <div class="icon-bar justify-content-sm-around flex-grow-1 align-items-center d-flex bd-highlight">
                <a href="#" class="p-2 flex-fill bd-highlight">
                    <i class="fa-solid fa-envelope fa-lg" style="color: #665bc2;"></i>
                </a>
                <a href="#" class="p-2 flex-fill bd-highlight">
                    <i class="fa-brands fa-linkedin fa-lg" style="color: #665bc2;"></i>
                </a>
                <a href="#" class="p-2 flex-fill bd-highlight">
                    <i class="fa-brands fa-square-github fa-lg" style="color: #665bc2;"></i>

                </a>
            </div>

        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> 


    

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
