@page
@model Website.Pages.Shared.BackgroundModel
<link rel="stylesheet" href="~/css/site.css" />
@{
    ViewData["Title"] = "My Background";
}

<div class="text-center">

    <h1 class="display-4">@ViewData["Title"]</h1>

    <p>
        This page will contain information about my education, skills, and my cv.<br />
        <br />
        I will most likely change the title for this page.
    </p>

    <div class="flex-column" style="font-size:x-large">

        <div class="d-flex justify-content-center" >
            <p class="font-weight-bold">
                BSc Applied Computing
            </p>
        </div>

      <div class="d-flex justify-content-center">
            <p>
               University of Dundee
            </p>
       </div>
    </div>


        <div class="d-flex justify-content-center">
            <p>
                yadayada my experience
            </p>
        </div>

        <!--could add button to show more? show relevant skills-->
        
 

</div>
