@page
@model Website.Pages.Shared.BackgroundModel
<link rel="stylesheet" href="~/css/site.css" />
@{
    ViewData["Title"] = "My Background";
}

<div class="grid-container">

    <div class="d-flex flex-column align-content-center justify-content-center">
        <div class="background">
            <h2>@ViewData["Title"]</h2>

            <p style="font-size:25px; padding-top:50px;">I have a Bachelor of Science degree in Applied Computing from the University of Dundee.
                <br /><br />

                Look at my cv <a href="/Files/Shanna_Balfour_CV.pdf" style="color:rgb(102, 91, 194)" target="_blank"> here</a>!
            </p>

        </div>
    </div>

    <div class="background-image">
        <img src="Images/Skills.png" alt="Skills" style="border-radius:50%; padding-left: 50px">
    </div>


</div>
