@page
@model Website.Pages.ContactModel
@{
    ViewData["Title"] = "Contact Information";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <p>This page will contain my contact information</p>

</div>
