@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="d-flex flex-sm-row">

    <div class="d-flex flex-sm-column  bd-highlight mb-3 d-flex justify-content-around">

        <div class="intro-heading p-2 bd-highlight">
            <h2 class="d-flex flex-sm-row" style="color:rgb(102, 91, 194)">Software Developer.</h2>
            <h2 class="d-flex flex-sm-row">UX Enthusiast.</h2>
        </div>
        <div class="Intro-para">
            <p class="d-flex flex-sm-row" style="font-size:20px">I enjoy creating software that is intuitive, accessible, and enjoyable to use.</p>
        </div>
    </div>

    <div class="d-flex flex-sm-column">
        <img src="Images/avatar.jpg" alt="Avatar" width="500" height="500" style="border-radius:50%; padding:70px; padding-top:100px">

    </div>

</div>