@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="grid-container">

        <div class="d-flex flex-column align-content-center justify-content-center">
        <div class="intro-heading">
            <h2>Software Developer.</h2>
            <h2 style="color:rgb(102, 91, 194)">UX Enthusiast.</h2>
        </div>

        <div class="intro-para" style="padding-top:50px;">
                <p style="font-size:25px">I enjoy creating software that is intuitive, accessible, and enjoyable to use.</p>
        </div>
        </div>


        <div class="intro-image" style="padding-left:50px">
        <img src="Images/avatar.jpg" alt="Avatar" width="400" height="400" style="border-radius:50%; border:5px dashed #665BC2; padding:3px; ">
        </div>

    </div>