@page
@model Website.Pages.ProjectsModel
@{
    ViewData["Title"] = "My Projects";


    var htmlTag = "#A7C7E7";
    var cssTag = "#99c5c4";
    var csTag = " #C1E1C1";
    var unityTag = "#FAC898";
    var sqlTag = "#F8C8DC";
    var ardTag = "#FAA0A0";
    var bsTag = "#5D7B9E";
    var cTag = "#9EAC77";
    var javaTag = "#90CAAC";
    var mlTag = "#ff7661";
    var jsTag = "#D4FAFA";
}

<div class="text-center">
    <!--Uses bootstrap utilities flex to centre all text in div-->
    <h2>@ViewData["Title"]</h2>                                     <!--Uses bootstrap utilities text to format the title
                                                                                          Uses ASP.NET MVC to separate the key "Title" from the value the UI needs-->

    <div class="featured-projects">
        <div class="featured-heading d-flex flex-row">
           
            <p style="color: rgba(0, 0, 0, 0.4); font-size: 25px; padding-left:2.5%" class="lines">
                <i class="fa-solid fa-star fa-sm" style="color: rgba(0, 0, 0, 0.4);"></i>
                Featured
            </p>
        </div>


        <div class="expand-project d-flex flex-row justify-content-center">

            <div class="expand-card" style=" width:95%;border-radius: 25px; min-width: 340px;">


                <div class="grid-container-2" style="min-width: 340px;background-color:rgba(255, 255, 255, 0.5); border-radius: 25px;">

                    <img class="card-img-top d-flex justify-content-start" src="~/Images/CookLogo2.png" alt="Card Image cat" style="border-top-left-radius: 22px; width:20rem;"/>


                    <div class="card-text" style="min-width: 40px; padding-left:10px; padding-right:10px; border-left:2px solid rgba(0,0,0, 0.5)" ;">
                        <h5>Overview</h5>
                        <p>
                           
                            CookBook is designed to take the stress out of cooking by allowing the user to share their own recipes with friends by posting them to the recipe's page, as well as finding recipes posted by their friends.
                            This will help encourage people to both socialise and eat during lockdown.<br />
                            This project also encompasses the ability to access kitchen appliances to preheat the oven or boil the kettle using arduino, stepper motors and specialised pieces which were 3D printed.


                        </p>

                        <h5>Challenges and Accomplishments</h5>
                        <p>
                            The main difficulties with this project included setting up and storing information in the SQL database, connecting to the arduino IDE from the rest of the project, and initially we struggled to implement the horizontally scrolling section of the main recipe page.
                            <br /> <br />
                            We were very proud of the professional aesthetic of the website, and also were proud that we were able to create the SQL database with relatively limited knowledge.
                        </p>

                    </div>

                    <h5 class="card-title">CookBook</h5>

                    <div class="end-paragraph" style="border-left:2px solid rgba(0,0,0, 0.5)">
                        <p>We were very pleased to be awarded 'Best Hardware Hack' for this project.</p>
                    </div>

                    <div class="tags  d-flex flex-column" style="padding-bottom: 10px;">
                        <div class="d-flex flex-row justify-content-center">
                            <span class="badge badge-pill" style="background-color:@htmlTag">HTML</span>
                            <span class="badge badge-pill" style="background-color:@cssTag">CSS</span>
                            <span class="badge badge-pill" style="background-color:@bsTag">Bootstrap</span>
                        </div>
                        <div class="d-flex flex-row justify-content-center" style="margin-top:5px;">
                            <span class="badge badge-pill" style="background-color:@ardTag">Arduino</span>
                            <span class="badge badge-pill" style="background-color:@sqlTag">SQL</span>
                        </div>
                    </div>
                    

                    <div class="project-date" style="color: rgb(102, 91, 194); font-size: 18px; border-left:2px solid rgba(0,0,0, 0.5)">
                        <p>11/5/23</p>
                    </div>

                </div>



            </div>
        </div>

    </div>
       
</div>



<div class="projects" style="">


    <div class="personal-heading d-flex flex-row">

        <p style="color: rgba(0, 0, 0, 0.4); font-size: 25px; padding-top: 20px; padding-left:2.5%">
            <i class="fa-solid fa-laptop fa-sm" style="color: rgba(0, 0, 0, 0.4);"></i>
            Hackathon projects
        </p>
    </div>



    <div id="content">
        <div class="group">


            <div class="flip-card d-flex bd-highlight" style="border-radius: 25px;">
                <div class="flip-card-inner">
                    <div class="flip-card-front" style="border-radius: 25px">
                        <img src="~/Images/DuckLogo1.png" alt="DuckRoundup" style=" border-radius: 22px;" class="project-image">
                    </div>

                    <div class="flip-card-back" style="border-radius: 25px;">
                        <h4 style="padding-bottom: 5px;">Duck Roundup</h4>
                        <p class="flip-content">
                            This game is about freeing the ‘banana ducks’ from their enclosure, saving them from a hungry fox. 
                            <br />Ducks can be moved by nudging them with the mouse.
                            <br /> <br />Duck Roundup pushed us, as a team of three, to perfect our collisions to prevent the ducks from waltzing straight through the walls.
                        </p>

                        <div class="tags d-flex justify-content-center" style="padding-bottom: 10px;">
                            <span class="badge badge-pill" style="background-color:@csTag">C#</span>
                            <span class="badge badge-pill" style="background-color:@unityTag">Unity</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="flip-card d-flex bd-highlight" style="border-radius: 25px;">
                <div class="flip-card-inner">
                    <div class="flip-card-front" style="border-radius: 25px">
                        <img src="~/Images/FeverLogo1.png" alt="FeverDream" style=" border-radius: 22px;" class="project-image">
                    </div>

                    <div class="flip-card-back" style="border-radius: 25px;">
                        <h4 style="padding-bottom: 5px;">Fever Dream</h4>
                        <p class="flip-content">
                            This game allowed a player to battle an AI on a procedurally generated map, the first player to turn each of the squares of the map their colour would win.
                            <br /><br />The user moves using the arrow keys and can change the colour of the squares in the row or column they are in.
                            <br /> The current location is highlighted in a brighter colour.
                        </p>
                        <div class="tags  d-flex justify-content-center" style="padding-bottom: 10px;">
                            <span class="badge badge-pill" style="background-color:@csTag">C#</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="flip-card d-flex bd-highlight" style="border-radius: 25px;">
                <div class="flip-card-inner">
                    <div class="flip-card-front" style="border-radius: 25px">
                        <img src="~/Images/CookLogo1.png" alt="CookBook" style=" border-radius: 22px;" class="project-image">
                    </div>

                    <div class="flip-card-back" style="border-radius: 25px;">
                        <h4 style="padding-bottom: 5px;">CookBook</h4>
                        <p class="flip-content">
                            The idea behind CookBook is to allow the user to store and share their recipes. 
                            <br /><br /> CookBook would also allow users to connect to their kitchen appliances to allow the user to easily preheat their oven to the specified temperature or boil their kettle using an arduino connected to hardware which was 3D printed.
                        </p>
                        <div class="tags d-flex flex-column" style="padding-bottom: 10px;">
                            <div class="d-flex flex-row justify-content-center">
                                <span class="badge badge-pill" style="background-color:@htmlTag">HTML</span>
                                <span class="badge badge-pill" style="background-color:@cssTag">CSS</span>
                                <span class="badge badge-pill" style="background-color:@bsTag">Bootstrap</span>
                            </div>
                            <div class="d-flex flex-row justify-content-center" style="margin-top:5px;">
                                <span class="badge badge-pill" style="background-color:@ardTag">Arduino</span>
                                <span class="badge badge-pill" style="background-color:@sqlTag">SQL</span>
                            </div>
                            </div>
                    </div>
                </div>
            </div>






            <div class="flip-card d-flex bd-highlight" style="border-radius: 25px;">
                <div class="flip-card-inner">
                    <div class="flip-card-front" style="border-radius: 25px">
                        <img src="~/Images/VacaLogo1.png" alt="Vacation Space" style=" border-radius: 22px;" class="project-image">
                    </div>

                    <div class="flip-card-back" style="border-radius: 25px;">
                        <h4 style="padding-bottom: 5px;">Vacation Space</h4>
                        <p class="flip-content">
                            The aim of this project was to allow people to relax and escape the confines of lockdown during the coronavirus pandemic.
                            <br /><br />The website takes the user to an appropriate sound environment based on their current mood.
                            <br />The website also features a fun mini-game.
                        </p>

                        <div class="tags d-flex justify-content-center" style="padding-bottom: 10px;">
                            <span class="badge badge-pill" style="background-color:@htmlTag">HTML</span>
                            <span class="badge badge-pill" style="background-color:@cssTag">CSS</span>
                            <span class="badge badge-pill" style="background-color:@javaTag">Java</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flip-card d-flex bd-highlight" style="border-radius: 25px;">
                <div class="flip-card-inner">
                    <div class="flip-card-front" style="border-radius: 25px">
                        <img src="~/Images/IlluLogo1.png" alt="Illumination Modulation" style=" border-radius: 22px;" class="project-image">
                    </div>

                    <div class="flip-card-back" style="border-radius: 25px;">
                        <h4 style="padding-bottom: 5px;">Illumination Modulation</h4>
                        <p class="flip-content">
                            The concept of this project was to upload code to a drone which would control the flight patterns of the drone to make it perform a routine, including the use of colourful lights.
                            <br /><br />This would be able to take the place of fireworks, an approach which is now becoming more common, to reduce harm to wildlife and pollution.
                        </p>

                        <div class="tags  d-flex justify-content-center" style="padding-bottom: 10px">
                            <span class="badge badge-pill" style="background-color:@mlTag">MATLAB</span>
                            <span class="badge badge-pill" style="background-color:@cTag">C</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flip-card d-flex bd-highlight" style="border-radius: 25px;">
                <div class="flip-card-inner">
                    <div class="flip-card-front" style="border-radius: 25px">
                        <img src="~/Images/SpaceLogo1.png" alt="Space Walk" style=" border-radius: 22px;" class="project-image">
                    </div>

                    <div class="flip-card-back" style="border-radius: 25px;">
                        <h4 style="padding-bottom: 5px;">Space Walk</h4>
                        <p class="flip-content">
                            The idea behind this project was to create a website which would inspire the user to reach their fitness goals by encouraging them to meet milestones.
                            <br /> <br />Ideally the user would be able to track their walks, and the website would allow them to attain achievements for walking far enough to reach the space station, or the moon for example.
                        </p>

                        <div class="tags  d-flex justify-content-center" style="padding-bottom: 10px;">
                            <span class="badge badge-pill" style="background-color:@htmlTag">HTML</span>
                            <span class="badge badge-pill" style="background-color:@cssTag">CSS</span>
                            <span class="badge badge-pill" style="background-color:@bsTag">Bootstrap</span>
                            <span class="badge badge-pill" style="background-color:@jsTag">Javascript</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
