@page
@model Website.Pages.ProjectsModel
@{
    ViewData["Title"] = "My Projects";
}

<div class="text-center">                                                             <!--Uses bootstrap utilities flex to centre all text in div-->
    <h2>@ViewData["Title"]</h2>                                     <!--Uses bootstrap utilities text to format the title
                                                                                          Uses ASP.NET MVC to separate the key "Title" from the value the UI needs-->

    <div class="featured-projects">
        <div class="featured-heading d-flex flex-row">
           
            <p style="color: rgba(0, 0, 0, 0.4); font-size: 25px;">
                <i class="fa-solid fa-star fa-sm" style="color: rgba(0, 0, 0, 0.4);"></i>
                Featured
            </p>
        </div>

        <div class="featured-cards d-flex flex-row justify-content-around">

            <div class="featured-card" style="width:16rem; border: solid 3px #665BC2;border-radius: 25px;">

                <img class="card-img-top" src="~/Images/cat1.jpg" alt="Card Image cat" style="border-top-left-radius: 22px; border-top-right-radius: 22px;">

                <div class="card-body">
                    <h5 class="card-title">Project 1</h5>
                    <p class="card-text">
                        Cat ipsum dolor sit amet, sit in window and stare oooh, a bird, yum i bet my nine lives on you-oooo-ooo-hooo.
                    </p>
                    <a href="#" class="card-link">
                        <i class="fa-solid fa-angle-down" style="color: #665bc2;"></i>
                    </a>
                </div>

            </div>

            <div class="featured-card" style="width:16rem; border: solid 3px #665BC2;border-radius: 25px;">

                <img class="card-img-top" src="~/Images/cat1.jpg" alt="Card Image cat" style="border-top-left-radius: 22px; border-top-right-radius: 22px;">

                <div class="card-body">
                    <h5 class="card-title">Project 1</h5>
                    <p class="card-text">
                        Cat ipsum dolor sit amet, sit in window and stare oooh, a bird, yum i bet my nine lives on you-oooo-ooo-hooo.
                    </p>
                    <a href="#" class="card-link">
                        <i class="fa-solid fa-angle-down" style="color: #665bc2;"></i>
                    </a>
                </div>

            </div>

            <div class="featured-card" style="width:16rem; border: solid 3px #665BC2;border-radius: 25px;">

                <img class="card-img-top" src="~/Images/cat1.jpg" alt="Card Image cat" style="border-top-left-radius: 22px; border-top-right-radius: 22px;">

                <div class="card-body">
                    <h5 class="card-title">Project 1</h5>
                    <p class="card-text">
                        Cat ipsum dolor sit amet, sit in window and stare oooh, a bird, yum i bet my nine lives on you-oooo-ooo-hooo.
                    </p>
                    <a href="#" class="card-link">
                        <i class="fa-solid fa-angle-down" style="color: #665bc2;"></i>
                    </a>
                </div>

            </div>

            <div class="featured-card" style="width:16rem; border: solid 3px #665BC2;border-radius: 25px;">

                <img class="card-img-top" src="~/Images/cat1.jpg" alt="Card Image cat" style="border-top-left-radius: 22px; border-top-right-radius: 22px;">

                <div class="card-body">
                    <h5 class="card-title">Project 1</h5>
                    <p class="card-text">
                        Cat ipsum dolor sit amet, sit in window and stare oooh, a bird, yum i bet my nine lives on you-oooo-ooo-hooo.
                    </p>
                    <a href="#" class="card-link">
                        <i class="fa-solid fa-angle-down" style="color: #665bc2;"></i>
                    </a>
                </div>

            </div>

        </div>
       
        

    </div>

</div>

