@page
@model Website.Pages.ProjectsModel
@{
    ViewData["Title"] = "My Projects";
}

<div class="text-center">                                                             <!--Uses bootstrap utilities flex to centre all text in div-->
    <h1 class="display-4">@ViewData["Title"]</h1>                                     <!--Uses bootstrap utilities text to format the title
                                                                                          Uses ASP.NET MVC to separate the key "Title" from the value the UI needs-->
</div>

